<div id="adminBook" class="content">
<!--
	MODAL
-->
	<div id="modal" class="modal">
		<div class="modal-content animate-top container" style="max-width: 500px">
			<header class="border-bottom"> 
				<button id="close-modal-btn" class="btn topright" style="font-size: 1.5em">&times;</button>
				<h4>Supprimer un ouvrage</h4>
			</header>
			<div>
				<p>Voulez-vous vraiment supprimer cet ouvrage ?</p>
				<p><%- book.title %></p>
				<p class="align-right"><button type="button" id="delete-btn" class="button">Supprimer</button></p>
			</div>
			
		</div>
	</div>

<!--
	MAIN
-->
	<p class="align-left padding-16"><b>Ouvrage</b></p>
	<p class="align-right padding-16"><a href="/#/admin/books/">Retour</a></p>
	<div id="book" style="clear: both">
		<span class="error"><%= error %></span>
		<span class="error" id="modal-error" data-utils-bind="{{ error }}"></span>
		<div class="border-bottom">
			<p><b>Titre : </b><span><%- book.title %></span></p>
			<p><b>Sous-titre1 : </b><span><%- book.subtitle1 %></span></p>
			<p><b>Sous-titre2 : </b><span><%- book.subtitle2 %></span></p>
			<p><b>Auteur (libellé) : </b><span><%- book.authorDisplay %></span></p>
			<p>
				<% if (book.authors.length===1) { %>
					<span><b>Auteur :</b></span>
				<% } else { %>
					<span><b>Auteurs :</b></span>
				<% } %>
			</p>
			<ul id="authors-list" class='ul'>
				<% for(var i=0; i<book.authors.length; i++) {%>
				<li>
					<a href='/#/admin/authors/<%= book.authors[i].id %>'>
						<%= book.authors[i].name %>
					</a>
				</li>
				<% } %>
			</ul>
			<p>
				<% if (book.contribs.length===1) { %>
					<span><b>Contributeur :</b></span>
				<% } else { %>
					<span><b>Contributeurs :</b></span>
				<% } %>
			</p>
			<ul id="contribs-list" class='ul'>
				<% for(var i=0; i<book.contribs.length; i++) {%>
				<li>
					<a href='/#/admin/authors/<%= book.contribs[i].id %>'>
						<%= book.contribs[i].name %> (<%= book.contribs[i].role %>)
					</a>
				</li>
				<% } %>
			</ul>
			<p><b>Année de publication : </b><span><%= book.year %></span></p>
			<p><b>Langue : </b><span><%= book.language %></span></p>
			<p><b>Source :</b></p>
			<ul class='ul'>
				<li><b>&Eacute;diteur : </b><span><%- book.source.publisher %></span></li>
				<li><b>Année : </b><span><%= book.source.year %></span></li>
				<li><b>Origine : </b><span><%= book.source.origin %></span></li>
			</ul>
			<p><b>Styles :</b></p>
			<ul class='ul'>
				<li><b>Couleur : </b><span><%= book.styles.color %></span></li>
				<li><b>Image : </b><span><%= book.styles.image %></span></li>
				<li><b>Police : </b><span><%= book.styles.font %></span></li>
				<li><b>Couverture : </b><span><%= book.styles.cover %></span></li>
				<li><b>Auteur : </b><span><%= book.styles.author %></span></li>
				<li><b>Titre : </b><span><%= book.styles.title %></span></li>
				<li><b>Sous-titre1 : </b><span><%= book.styles.subtitle1 %></span></li>
				<li><b>Sous-titre2 : </b><span><%= book.styles.subtitle2 %></span></li>
				<li><b>Logo : </b><span><%= book.styles.logo %></span></li>
			</ul>
			<p><b>Collection : </b><span><%= book.collection %></span></p>
			<p><b>Description :</b></p>
			<div><%= book.description %></div>
			<p><b>Path : </b><span><%= book.path %></span></p>
			<p><b>Visible : </b><span><% if(book.visible===true) {%>oui<%} else {%>non<%}%></span></p>
			<p><b>Créé le : </b><span><%= book.created_at %></span></p>
			<p><b>Mis à jour le : </b><span><%= book.updated_at %></span></p>
		</div>
		<p>
			<a href="#/admin/books/<%= book.id %>/edit" class="button">Modifier</a>
			<button type="button" id="open-modal-btn" class="button align-right">Supprimer</button>
		</p>
	</div>
</div>
