<div id="adminUser" class="content">
<!--
	MODAL
-->
	<div id="modal" class="modal">
		<div class="modal-content animate-top container" style="max-width: 500px">
			<header class="border-bottom"> 
				<button id="close-modal-btn" class="btn topright" style="font-size: 1.5em">&times;</button>
				<h4>Supprimer un utilisateur</h4>
			</header>
			<div>
				<p>Voulez-vous vraiment supprimer cet utilisateur&nbsp;?</p>
				<p><%= user.email %></p>
				<p class="align-right"><button type="button" id="delete-btn" class="button">Supprimer</button></p>
			</div>
			
		</div>
	</div>
<!--
	MAIN
-->
	<p class="align-left padding-16"><b>Utilisateur</b></p>
	<p class="align-right padding-16"><a href="/#/admin/users/">Retour</a></p>
	<div id="user" style="clear:both">
		<span class="error"><%= error %></span>
		<span class="error" id="modal-error" data-utils-bind="{{ error }}"></span>
		<div class="border-bottom">
			<p><b>Nom : </b><%= user.name %></p>
			<p><b>Email : </b><%= user.email %></p>
			<p><b>Admin : </b><%= user.admin %></p>
			<p><b>Créé le : </b><%= user.created_at %></p>
			<p><b>Mis à jour le : </b><%= user.updated_at %></p>
		</div>
		<p class="padding-16"><button type="button" id="open-modal-btn" class="button">Supprimer</button></p>
	</div>
</div>
