<div id="adminBookEdit" class="content">
<!--
	MODAL
-->
	<div id="modal" class="modal">
		<div class="modal-content animate-top container" style="max-width: 500px">
			<header class="border-bottom"> 
				<button id="close-modal-btn" class="btn topright" style="font-size: 1.5em">&times;</button>
				<h4>Rechercher un auteur</h4>
			</header>
			<div>
				<p id="search">
				<input type="text" name="search" class="input">
				<span class="error" data-utils-bind="{{ error }}"></span>
				</p>
				<div id="results" style="min-height:150px"></div>
			</div>
			
		</div>
	</div>
<!--
	SOURCES MODAL
-->
	<div id="source_modal" class="modal">
		<div class="modal-content animate-top container" style="max-width: 500px">
			<header class="border-bottom"> 
				<button id="close-source-modal-btn" class="btn topright" style="font-size: 1.5em">&times;</button>
				<h4>Ajouter une source</h4>
			</header>
			<div class="padding-32">
				<p>
				<input type="text" name="source" class="input">
				<span class="error" data-utils-bind="{{ error }}"></span>
				</p>
				<button type="button" id="add-source-btn" class="button align-right">Ajouter</button>
			</div>
			
		</div>
	</div>
<!--
	MAIN
-->
	<p class="align-left padding-16"><b>Modifier un ouvrage</b></p>
	<p class="align-right padding-16"><a href="/#/admin/books/<%= book.id %>">Retour</a></p>
	<div id="files" style="clear: both">
		<div class="margin-bottom" style="min-height:100px">
			<p>
				<label class="align-left">Fichiers : </label>
			</p>
			<div style="clear: both" class="padding-16">
				<form>
					<input id="book_file" type="file">
					<button id="book_upload_btn" type="btn">Upload</button>
				</form>
			</div>
			<ul id="filesContainer" class="ul padding-32">
			<% for(var i=0; i<files.length; i++) {%>
				<li>
					<p id="<%= i %>" >
						<span><%- files[i] %></span>
						<button type="button" class="delete-file-btn button align-right">Supprimer</button>
					</p>
				</li>
			<% } %>
			</ul>
		</div>
	</div>
	<div>
		<form id="adminBookEditForm">
			
			<span class="error" id="form-error" data-utils-bind="{{ form }}"></span>
			
			<p id="title">
				<label>Titre * : </label>
				<input type="text" name="title" class="input" value="<%= book.title %>" >
				<span class="error" data-utils-bind="{{ title }}"></span>
			</p>
			
			<p id="subtitle1">
				<label>Sous-titre 1 : </label>
				<input type="text" name="subtitle1" class="input" value="<%= book.subtitle1 %>" >
			</p>
			
			<p id="subtitle2">
				<label>Sous-titre 2 : </label>
				<input type="text" name="subtitle2" class="input" value="<%= book.subtitle2 %>" >
			</p>
			
			<p id="authorDisplay">
				<label>Auteur (libellé) * : </label>
				<input type="text" name="authorDisplay" class="input" value="<%= book.authorDisplay %>" >
				<span class="error" data-utils-bind="{{ authorDisplay }}"></span>
			</p>
			
			<div id="authors" class="margin-bottom border-bottom">
				<div class="margin-bottom" style="min-height:100px">
					<p>
						<label class="align-left">Auteurs * : </label>
						<button type="button" id="auteur" class="button align-right open-modal-btn">Rechercher</button>
					</p>
					
					<ul id="authorsContainer" class="ul padding-32">
						<% for(var i=0; i<selectedAuthors.length; i++) {%>
						<li>
							<p data-key="<%= selectedAuthors[i].id %>" id="<%= i %>" >
								<span><%= selectedAuthors[i].name %></span>
								<button type="button" id="auteur" class="delete-btn button align-right">Supprimer</button>
								<span style="clear: both"></span>
							</p>
						</li>
						<% } %>
					</ul>
					<span class="error" data-utils-bind="{{ authors }}"></span>
				</div>
				
			</div>
			
			<div id="contribs" class="margin-bottom border-bottom">
				<div class="margin-bottom" style="min-height:100px">
					<p>
						<label class="align-left">Contributeurs : </label>
						<button type="button" id="contributeur" class="button align-right open-modal-btn">Rechercher</button>
					</p>
					
					<ul id="contribsContainer" class="ul padding-32">
						<% for(var i=0; i<selectedContribs.length; i++) {%>
						<li>
							<p data-key="<%= selectedContribs[i].id %>" id="<%= i %>" >
								<span><%= selectedContribs[i].name %> </span>
								<span>(<%= selectedContribs[i].role %>)</span>
								<button type="button" id="contributeur" class="delete-btn button align-right">Supprimer</button>
								<span style="clear: both"></span>
							</p>
						</li>
						<% } %>
					</ul>
				</div>
				
			</div>
			
			<p id="year">
				<label>Année de publication * : </label>
				<input type="text" name="year" class="input" value="<%= book.year %>" >
				<span class="error" data-utils-bind="{{ year }}"></span>
			</p>
			
			<p id="language">
				<label>Langue * : </label>
				<input type="text" name="language" class="input" value="<%= book.language %>" >
				<span class="error" data-utils-bind="{{ language }}"></span>
			</p>
			
			<p id="categories">
				<label>Catégories : </label>
				<input type="text" name="categories" class="input" value="<%= book.categories %>" >
				<span class="error" data-utils-bind="{{ categories }}"></span>
			</p>
			
			<p id="collection">
				<label>Collection : </label>
				<input type="text" name="collection" class="input" value="<%= book.collection %>" >
				<span class="error" data-utils-bind="{{ collection }}"></span>
			</p>
			
			<div id="sources">
				<div class="margin-bottom" style="min-height:100px">
					<p>
						<label class="align-left">Sources : </label>
						<a href="/#/source" id="open-source-modal-btn" class="align-right">Ajouter</a>
					</p>
					
					<ul id="sourcesContainer" class="ul padding-32">
					<% for(var i=0; i<sources.length; i++) {%>
						<li>
							<p id="<%= i %>" >
								<span><%- sources[i] %></span>
								<button type="button" class="delete-source-btn button align-right">Supprimer</button>
							</p>
						</li>
					<% } %>
					</ul>
				</div>
			</div>
			
			<p id="styles-color">
				<label>Styles - couleur : </label>
				<input type="text" name="styles-color" class="input" value="<%= book.styles.color %>" >
			</p>
			
			<p id="styles-image">
				<label>Styles - image : </label>
				<input type="text" name="styles-image" class="input" value="<%= book.styles.image %>" >
			</p>
			
			<p id="styles-font">
				<label>Styles - police : </label>
				<input type="text" name="styles-font" class="input" value="<%= book.styles.font %>" >
			</p>
			
			<p id="styles-cover">
				<label>Styles - couverture : </label>
				<input type="text" name="styles-cover" class="input" value="<%= book.styles.cover %>" >
			</p>
			
			<p id="styles-author">
				<label>Styles - auteur : </label>
				<input type="text" name="styles-author" class="input" value="<%= book.styles.author %>" >
			</p>
			
			<p id="styles-title">
				<label>Styles - titre : </label>
				<input type="text" name="styles-title" class="input" value="<%= book.styles.title %>" >
			</p>
			
			<p id="styles-subtitle1">
				<label>Styles - sous-titre1 : </label>
				<input type="text" name="styles-subtitle1" class="input" value="<%= book.styles.subtitle1 %>" >
			</p>
			
			<p id="styles-subtitle2">
				<label>Styles - sous-titre2 : </label>
				<input type="text" name="styles-subtitle2" class="input" value="<%= book.styles.subtitle2 %>" >
			</p>
			
			<p id="styles-logo">
				<label>Styles - logo : </label>
				<input type="text" name="styles-logo" class="input" value="<%= book.styles.logo %>" >
			</p>
			
			<p id="description">
				<label>Description : </label>
				<textarea type="text" name="description" rows="10" style="display: block; width: 100%; margin-top: 4px"><%- book.description %></textarea>
			</p>
			
			<p id="path">
				<label>Path * : </label>
				<input type="text" name="path" class="input" value="<%= book.path %>" >
				<span class="error" data-utils-bind="{{ path }}"></span>
			</p>
			
			<p id="visible">
				<label><input type="checkbox" name="visible" <% if(book.visible) {%> checked <%}%> > Visible</label>
			</p>
			
			<p class="padding-16">
				<button type="submit" class="button">Valider</button>
			</p>
			
		</form>
	</div>
</div>
