<div id="book">
	<!--
		STARTBOOK-CONTAINER
	-->
	<div id="bookContainer">
		<!--
			TOC-LARGE-DEVICE (outside textContainer) : width >= 1366
		-->
		<%- include src/components/book-read/tabs-large-device.ejs -%>
		<!--
			START SWING-CONTAINER : margin-left: 33% WHEN TOC-LARGE OPEN
		-->
		<div id="swing-container">
			<!--
				START TEXT-CONTAINER
			-->
			<div data-wb-text-container class="w3-card-2">
				<!--
					TOC (inside textContainer) : width < 1366
				-->
				<div id="toc">
					<div data-wb-toc class="w3-container">
						<button id="close-toc" type="button" class="w3-button w3-text-gray w3-hover-none w3-display-topright">&times;</button>
						<div id="toc-title" class="toc-content w3-padding-16 w3-border-bottom">
							<p class="w3-center"><%- book.authorDisplay %></p>
							<p class="w3-center text-uppercase"><%- book.title %></p>
						</div>
					</div>
				</div>
				<!--
					OPTIONS-MODAL (inside textContainer) : width >= 1366
				-->
				<%- include src/components/book-read/options-modal.ejs -%>
				<!--
					TOP (inside textContainer)
				-->
				<div id="top">
					<span id="current-section-title" class="wb-current-section-title"></span>
				</div>
				<!--
					TEXT
				-->
				<div data-wb-text style="background-color: <%- book.styles.color %>; background-image: url(<%- book.styles.image %>)"></div>
				<!--
					BOTTOM (inside textContainer) : pagination
				-->
				<div id="bottom">
					<span id="currentByTotal" class="wb-currentByTotal-pages"></span>
				</div>
				<div id="text-loader-container" class="hidden">
					<div id="text-loader"></div>
				</div>
			<!--
				END TEXT-CONTAINER
			-->
			</div>
		<!--
			END SWING-CONTAINER : margin-left: 33% WHEN TOC-LARGE OPEN
		-->
		</div>
		<!--
			NAVBAR-BOTTOM-SMALL (outside textContainer) : width < 768
		-->
		<div id="book-nav-bar-bottom-small" class="w3-bar">
			<a id="home" href="/#/books/" class="home w3-btn w3-text-gray"><i class="material-icons">arrow_back</i></a>
			<button id="add-bookmark" class="add-bookmark w3-btn w3-ripple w3-text-gray"><i class="material-icons">bookmark_border</i></button>
			<button id="open-options" class="w3-btn w3-text-gray"><i class="material-icons">settings</i></button>
			<button id="open-toc" class="open-toc w3-btn w3-text-gray"><i class="material-icons">toc</i></button>
		</div>
		<!--
			NAVBAR-BOTTOM (outside textContainer) : width >= 768 && < 1366
		-->
		<div id="book-nav-bar-bottom">
			<div class="w3-bar w3-large">
				<div id="swing-bar">
					<div id="book-nav-bar-bottom-controls">
						<button id="home-large" class="home w3-btn w3-hover-none w3-text-gray"><i class="material-icons">arrow_back</i></button>
						<button id="add-bookmark-large" class="add-bookmark w3-btn w3-ripple w3-hover-none w3-text-gray"><i class="material-icons">bookmark_border</i></button>
						<div id="center">
							<span id="backward-large" class="w3-button w3-hover-none">&lt;</span>
							<span id="forward-large" class="w3-button w3-hover-none">&gt;</span>
						</div>
						<button id="open-options-medium" class="w3-btn w3-hover-none w3-text-gray"><i class="material-icons">settings</i></button>
						<button id="open-toc-large" class="open-toc w3-btn w3-hover-none w3-text-gray"><i class="material-icons">toc</i></button>
					</div>
				</div>
			</div>
		</div>
	<!--
		END BOOK-CONTAINER
	-->
	</div>
	<div id="book-loader-container" class="hidden">
		<div id="book-loader" style="border-top: 8px solid <%= book.styles.color %>; border-bottom: 8px solid <%= book.styles.color %>"></div>
	</div>
</div>
