<div id="book">
	<!--
		STARTBOOK-CONTAINER
	-->
	<div id="bookContainer" style="font-family: <%= book.styles.font %>">
		<!--
			TOC-LARGE-DEVICE (outside textContainer) : width >= 1366
		-->
		<div id="toc-large-device" class="w3-card-4">
			<button id="toggle-toc-large-device" type="button" class="w3-btn w3-card-4 w3-white">&colone;</button>
			<div id="toc-large-device-container" class="toc-content">
				<p class="w3-center"><%- book.authorDisplay %></p>
				<p class="w3-center text-uppercase"><%- book.title %></p>
				<div data-wb-toc class="w3-container"></div>
			</div>
		</div>
		<!--
			START SWING-CONTAINER : margin-left: 33% WHEN TOC-LARGE OPEN
		-->
		<div id="swing-container">
			<!--
				START TEXT-CONTAINER
			-->
			<div data-wb-text-container class="w3-card-4">
				<!--
					TOC (inside textContainer) : width < 1366
				-->
				<div id="toc">
					<div data-wb-toc class="w3-container">
						<button id="close-toc" type="button" class="w3-button w3-text-black w3-hover-none w3-display-topright">&times;</button>
						<div id="toc-title" class="toc-content">
							<p class="w3-center"><%- book.authorDisplay %></p>
							<p class="w3-center text-uppercase"><%- book.title %></p>
						</div>
					</div>
				</div>
				<!--
					TOP (inside textContainer)
				-->
				<div id="top">
					<span class="wb-current-section-title"></span>
				</div>
				<!--
					TEXT
				-->
				<div data-wb-text style="background-image: url(<%- book.styles.image %>)"></div>
				<!--
					BOTTOM (inside textContainer) : width < 768
				-->
				<div id="bottom">
					<a id="home" href="/#/books/" class="w3-button w3-hover-none w3-text-gray">L'intermédaire</a>
					<span class="wb-currentByTotal-pages"></span>
					<button type="button" id="open-toc" class="open-toc w3-button w3-hover-none w3-text-gray">&colone;</button>
				</div>
				<!--
					BOTTOM-LARGE (inside textContainer) : width >= 768
				-->
				<div id="bottom-large">
					<span class="wb-currentByTotal-pages"></span>
				</div>
			<!--
				END TEXT-CONTAINER
			-->
			</div>
		<!--
			END SWING-CONTAINER : margin-left: 33% WHEN TOC-LARGE OPEN
		-->
		</div>
		<!--
			NAVBAR-BOTTOM (outside textContainer) : width >= 768
		-->
		<div id="book-nav-bar-bottom">
			<div class="w3-bar w3-large">
				<div id="swing-bar">
					<div id="book-nav-bar-bottom-controls">
						<span id="backward-large" class="w3-button w3-hover-none w3-margin-right">&lt;</span>
						<span id="forward-large" class="w3-button w3-hover-none w3-margin-left">&gt;</span>
						<span id="open-toc-large" class="open-toc w3-button w3-hover-none"><span>&colone;</span></span>
					</div>
				</div>
			</div>
		</div>
	<!--
		END BOOK-CONTAINER
	-->
	</div>
</div>
