<div id="book">
	<!--
		STARTBOOK-CONTAINER
	-->
	<div id="bookContainer">
		<!--
			TOC-LARGE-DEVICE (outside textContainer) : width >= 1366
		-->
		<%- include src/components/book-read/tabs-large-device.ejs -%>
		<!--
			START SWING-CONTAINER : margin-left: 33% WHEN TOC-LARGE OPEN
		-->
		<div id="swing-container">
			<!--
				START TEXT-CONTAINER
			-->
			<div data-wb-text-container class="card-4">
				<!--
					BOOKMARK
				-->
				<div id="bookmark">
					<p><i class="material-icons">&#xE867;</i></p>
				</div>
				<div id="text-loader-container" class="hidden">
					<div id="text-loader"></div>
				</div>
				<!--
					TOC (inside textContainer) : width < 1366
				-->
				<div id="toc">
					<div data-wb-toc >
						<button id="close-toc" type="button" class="btn">&times;</button>
						<div id="toc-header">
							<p><%- book.authorDisplay %></p>
							<p class="text-uppercase"><%- book.title %></p>
							<% if(book.subtitle1) {%>
								<p><%- book.subtitle1 %></p>
							<%}%>
							<% if(book.subtitle2) {%>
								<p class="text-small-caps"><%- book.subtitle2 %></p>
							<%}%>
						</div>
					</div>
				</div>
				<!--
					OPTIONS-MODAL (inside textContainer) : width >= 1366
				-->
				<%- include src/components/book-read/options-modal.ejs -%>
				<!--
					TOP (inside textContainer)
				-->
				<div id="top">
					<span id="current-section-title" class="wb-current-section-title"></span>
				</div>
				<!--
					TEXT
				-->
				<div data-wb-text ></div>
				<!--
					BOTTOM (inside textContainer) : pagination
				-->
				<div id="bottom">
					<span id="currentByTotal" class="wb-currentByTotal-pages"></span>
				</div>
			<!--
				END TEXT-CONTAINER
			-->
			</div>
		<!--
			END SWING-CONTAINER : margin-left: 33% WHEN TOC-LARGE OPEN
		-->
		</div>
		<!--
			NAVBAR-BOTTOM-SMALL (outside textContainer) : width < 768
		-->
		<div id="book-nav-bar-bottom-small">
			<button id="home" class="home btn"><i class="material-icons">&#xE5C4;</i></button>
			<button id="add-bookmark" class="add-bookmark btn"><i class="material-icons">&#xE867;</i></button>
			<button id="open-options" class="btn"><i class="material-icons">&#xE245;</i></button>
			<button id="open-toc" class="open-toc btn"><i class="material-icons">&#xE8DE;</i></button>
		</div>
		<!--
			NAVBAR-BOTTOM (outside textContainer) : width >= 768
		-->
		<div id="book-nav-bar-bottom">
			<div id="swing-bar">
				<div id="book-nav-bar-bottom-controls">
					<button id="home-large" class="home btn"><i class="material-icons">&#xE5C4;</i></button>
					<button id="add-bookmark-large" class="add-bookmark btn"><i class="material-icons">&#xE867;</i></button>
					<div id="center">
						<button id="backward-large" class="btn">&lt;</button>
						<button id="forward-large" class="btn">&gt;</button>
					</div>
					<button id="open-options-medium" class="btn"><i class="material-icons">&#xE245;</i></button>
					<button id="open-toc-large" class="open-toc btn"><i class="material-icons">&#xE8DE;</i></button>
				</div>
			</div>
		</div>
	<!--
		END BOOK-CONTAINER
	-->
	</div>
	<div id="book-loader-container" class="hidden">
		<div id="book-loader" style="border-top: 4px solid <%= book.styles.color %>; border-bottom: 4px solid <%= book.styles.color %>"></div>
	</div>
</div>
