
<div id="toc-large-device" class="tab card-4" >
	<button id="close-toc-large-device" type="button" class="btn card-4" >&times;</button>
	<div id="toc-large-device-container">
		<div class="header">
			<p><%- book.authorDisplay %></p>
			<p class="text-uppercase"><%- book.title %></p>
			  <% if(book.subtitle1) {%>
				<p><%- book.subtitle1 %></p>
			  <%}%>
			  <% if(book.subtitle2) {%>
				<p class="text-small-caps"><%- book.subtitle2 %></p>
			 <%}%>
		</div>
		<div data-wb-toc ></div>
	</div>
</div>

<div id="tab-options" class="card-4">
	<button id="close-tab-options" type="button" class="btn card-4" >&times;</button>
	<div id="tab-options-container">
		<div class="header">
			<p class="options-title">Options</p>
		</div>
		<div id="font-family-container-large">
			<p><b>Police de&nbsp;caractère</b></p>
			<div>
				<div class="col-left">
					<p><label><input type="radio" name="fontFamily" value="<%- book.styles.font %>">&ensp;<%- book.styles.font %></label></p>
					<% if(book.styles.font!=='Noto Serif') {%>
						<p><label><input type="radio" name="fontFamily" value="Noto Serif">&ensp;Noto Serif</label></p>
					<% } %>
				</div>
				<div class="col-right">
					<% if(book.styles.font!=='Vollkorn') {%>
						<p><label><input type="radio" name="fontFamily" value="VollKorn">&ensp;Vollkorn</label></p>
					<% } %>
				</div>
			</div>
		</div>
		<div id="font-size-container-large">
			<p><b>Taille de la police</b></p>
			<div>
				<div class="col-left">
					<p><label><input type="radio" name="fontSize" value="14">&ensp;14 px</label></p>
					<p><label><input type="radio" name="fontSize" value="16">&ensp;16 px</label></p>
					<p><label><input type="radio" name="fontSize" value="18">&ensp;18 px</label></p>
				</div>
				<div class="col-right">
					<p><label><input type="radio" name="fontSize" value="15">&ensp;15 px</label></p>
					<p><label><input type="radio" name="fontSize" value="17">&ensp;17 px</label></p>
					<p><label><input type="radio" name="fontSize" value="19">&ensp;19 px</label></p>
				</div>
			</div>
		</div>
	</div>
</div>
	

<div id="tab-infos" class="card-4">
	<button id="close-tab-infos" type="button" class="btn card-4" >&times;</button>
	<div id="tab-infos-container">
		<div class="header">
			<p><%- book.authorDisplay %></p>
			<p class="text-uppercase"><%- book.title %></p>
			  <% if(book.subtitle1) {%>
				<p><%- book.subtitle1 %></p>
			  <%}%>
			  <% if(book.subtitle2) {%>
				<p class="text-small-caps"><%- book.subtitle2 %></p>
			 <%}%>
		</div>
		<div class="content">
		  <p><b>Année de parution : </b><%- book.year %></p>
		  <% if(book.authors.length > 1) {%>
				<p>
					<span><b>Auteurs :</b></span>
					<br>
					<ul>
					<% for(var j=0; j<book.authors.length; j++) {%>
						<li>
							<%- book.authors[j].name %> (<%- book.authors[j].birth %>&nbsp;&ndash; <%- book.authors[j].death %>)
						</li>
					<%}%>
					</ul>
				</p>
		  <%} else if(book.authors.length === 1) {%>
				<p><b>Auteur : </b><%- book.authors[0].name %> (<%- book.authors[0].birth %>&nbsp;&ndash; <%- book.authors[0].death %>)</p>
		  <%}%>
		  <% if(book.contribs.length > 1) {%>
				<p>
					<span><b>Contributions :</b></span>
					<br>
					<ul>
					<% for(var j=0; j<book.contribs.length; j++) {%>
						<li>
							<span class="contrib-role"><%- book.contribs[j].role %> : </span>
							<%- book.contribs[j].name %> (<%- book.contribs[j].birth %>&nbsp;&ndash; <%- book.contribs[j].death %>)
						</li>
					<%}%>
					</ul>
				</p>
		  <%} else if(book.contribs.length === 1) {%>
				<p>
					<span><b>Contribution : </b></span>
					<br>
					<ul>
						<li>
							<span class="contrib-role"><%- book.contribs[0].role %> : </span>
							<%- book.contribs[0].name %> (<%- book.contribs[0].birth %>&nbsp;&ndash; <%- book.contribs[0].death %>)
						</li>
					</ul>
				</p>
		  <%}%>
		  <p class="book-source">
			  <% if(book.sources.length > 1) {%>
				<b>Sources :</b>
			  <%} else {%>
				<b>Source :</b>
			  <%}%>
				<ul>
				<% for(var j=0; j<book.sources.length; j++) {%>
					<li><span><%- book.sources[j] %></span></li>
				<% } %>
				</ul>
			  </p>
		</div>
	</div>
</div>

<div id="book-commands">
	<button id="toggle-toc-large-device" type="button" class="btn card-2" >Table</button>
	<button id="toggle-tab-options" type="button" class="btn card-2" >Options</button>
	<button id="toggle-tab-infos" type="button" class="btn card-2" >Fiche</button>
	<button id="tab-add-bookmark" type="button" class="add-bookmark btn card-2" >Signet</button>
	<button id="tab-home-link" type="button" class="home btn card-2" >Retour</button>
</div>
	

