<div id="adminBooks" class="content">
	<p class="padding-16 align-left"><b>Ouvrages (<%= books.length %>)</b></p>
	<p class="padding-16 align-right"><a href="/#/admin/books/new">Ajouter</a></p>
	<div style="clear:both">
		<span class="error"><%= error %></span>
		<ul id="books-list" class='ul' style="padding: 0px">
			<% for(var i=0; i<books.length; i++) {%>
			<li>
				<p>
					<a href='/#/admin/books/<%= books[i].id %>'>
						<%- books[i].title %>&ensp;
						<% if(books[i].subtitle1) {%>
							&ndash;&ensp;<%- books[i].subtitle1 %>&ensp;
						<% } %>
						<% if(books[i].subtitle2) {%>
							&ndash;&ensp;<%- books[i].subtitle2 %>&ensp;
						<% } %>
						(<%- books[i].authorDisplay %>)
					</a>
				</p>
			</li>
			<% } %>
		</ul>
	</div>
</div>
