extends layout

block content

  // BOOK-CONTAINER
  div(id='bookContainer')
    // NAVBAR-TOP : width >= 768
    div(id='book-nav-bar-top' class='w3-bar w3-white w3-border-bottom w3-large w3-display-container')
      a(href='/', class='w3-bar-item w3-btn')=title
      span(class='w3-bar-item w3-display-middle w3-small') #{book.author} &ndash; !{book.title}
    
    // TOC-LARGE-DEVICE (outside textContainer) : width >= 1366
    div(id='toc-large-device' class='w3-card-4')
      button(id='toggle-toc-large-device' type='button' class='w3-btn w3-card-4 w3-white') &colone;
      div
        p(class='w3-center') #{book.author}
        p(class='w3-center') !{book.title}
        div(data-wb-toc='Sommaire' class='w3-container')
      
    // START SWING-CONTAINER : margin-left: 33% WHEN TOC-LARGE OPEN
    div(id='swing-container')
      
      // START TEXT-CONTAINER
      div(data-wb-text-container="" class='w3-card-4')
      
        // TOC (inside textContainer) : width < 1366
        div(id='toc')
          div(data-wb-toc='Sommaire' class='w3-container w3-card-4')
            button(id='close-toc' type='button') &times;
            div(id='toc-title')
              p(class='w3-center')=book.author
              p(class='w3-center') !{book.title}
            
        // TOP (inside textContainer)
        div(id='top')
         span(class='wb-current-section-title')
         
        // TEXT
        div(data-wb-text="") loading
        
        // BOTTOM (inside textContainer) : width < 768
        div(id='bottom')
          a(href='/' id='home' class='w3-btn w3-text-dark-grey') WB
          //button(id='backward' type='button' class='w3-btn w3-text-dark-grey') &lt;
          span(class='wb-currentByTotal-pages')
          //button(id='forward' type='button' class='w3-btn w3-text-dark-grey') &gt;
          button(class='open-toc' type='button' class='w3-btn w3-text-dark-grey') &colone;
        
        // BOTTOM-LARGE (inside textContainer) : width >= 768
        div(id='bottom-large')
         span(class='wb-currentByTotal-pages')
        
    // NAVBAR-BOTTOM (outside textContainer) : width >= 768
    div(id='nav-bar-bottom' class='w3-bottom')
      div(class='w3-bar w3-large')
        div(id='swing-bar')
          div(id='nav-bar-bottom-controls')
            button(id='backward-large' type='button' class='w3-btn w3-margin-right') &lt;
            button(id='forward-large' type='button' class='w3-btn w3-margin-left') &gt;
            button(id='open-toc-large' type='button' class='open-toc w3-btn')
              span &colone;

block javascript
  script(src='/javascripts/book.js')
