<div id="adminAuthors" class="content">
	<h4 class="w3-container w3-padding-16 align-left">Auteurs</h4>
	<p class="w3-padding-16 align-right"><a href="/#/admin/authors/new" class="w3-text-gray w3-hover-none w3-hover-text-black">Ajouter</a></p>
	<div style="clear:both">
		<span class="error"><%= error %></span>
		<ul id="authors-list" class="w3-ul">
			<% for(var i=0; i<authors.length; i++) {%>
			<li>
				<p>
					<a href="/#/admin/authors/<%= authors[i].id %>" class='w3-text-gray w3-hover-none w3-hover-text-black'>
						<%- authors[i].name %> (<%= authors[i].birth %>&thinsp;&ndash;&thinsp;<%= authors[i].death %>)
					</a>
				</p>
			</li>
			<% } %>
		</ul>
	</div>
</div>
