<div id="adminAuthorEdit" class="content">
	<p class="align-left padding-16"><b>Modifier un auteur</b></p>
	<p class="align-right padding-16"><a href="/#/admin/authors/<%= author.id %>">Retour</a></p>
	<form id="adminAuthorEditForm" style="clear: both">
		
		<span class="error" id="form-error" data-utils-bind="{{ form }}"></span>
		
		<p id="name">
			<label>Nom : </label>
			<input type="text" name="name" class="input author" value="<%= author.name %>" >
			<span class="error" data-utils-bind="{{ name }}"></span>
		</p>
		
		<p id="nameAlpha">
			<label>Nom alphabétique : </label>
			<input type="text" name="nameAlpha" class="input author" value="<%= author.nameAlpha %>" >
			<span class="error" data-utils-bind="{{ nameAlpha }}"></span>
		</p>
		
		<p id="birth">
			<label>Date de naissance : </label>
			<input type="text" name="birth" class="input author" value="<%= author.birth %>" >
			<span class="error" data-utils-bind="{{ birth }}"></span>
		</p>
		
		<p id="death">
			<label>Date de décès : </label>
			<input type="text" name="death" class="input author" value="<%= author.death %>" >
			<span class="error" data-utils-bind="{{ death }}"></span>
		</p>
		
		<p id="description">
			<label>Description : </label>
			<textarea type="text" name="description" class="author" value="<%= author.description %>" style="display: block; width: 100%; margin-top: 4px"></textarea>
			<span class="error" data-utils-bind="{{ description }}"></span>
		</p>
		
		<p id="visible">
			<label><input type="checkbox" name="visible" <% if(author.visible) {%> checked <%}%> > Visible</label>
		</p>
		
		<p class="padding-16">
			<button type="submit" class="button">Valider</button>
		</p>
	</form>
</div>
