<div id="books-next-container" class="fade">
	<div id="top-page-header">à paraître</div>
	<div id="booksList-container">
		<div id="booksList">
		
			<% for(var i=0; i<books.length; i++) {%>
				
				<!-- MODAL (INFOS) -->
				<%- include src/components/books-next/infos-modal.ejs -%>
				
				<div class="slide fade" id="slide_<%= books[i].id %>">
					<div id="paper" style="background-color: <%= books[i].styles.color %>; background-image: url(<%- books[i].styles.image %>)">
						<div class="book" style="<%=books[i].styles.cover %>">
							<p class="author" style="<%=books[i].styles.author %>"><%- books[i].authorDisplay %></p>
							<p class="title" style="<%-books[i].styles.title %>">
								<span><%- books[i].title %></span>
							</p>
							<% if(books[i].subtitle1) {%>
							<p class="subtitle1" style="<%= books[i].styles.subtitle1 %>">
								<%- books[i].subtitle1 %></a>
							</p>
							<% } %>
							<% if(books[i].subtitle2) {%>
							<p class="subtitle1" style="<%= books[i].styles.subtitle2 %>">
								<%- books[i].subtitle2 %></a>
							</p>
							<% } %>
							<div class="logo" style="<%=books[i].styles.logo %>">
								<p class="span1">&#8916;</p>
								<p class="span2">équivoques</p>
							</div>
					   </div>
				   </div>
				   <div id="book-btns" >
						<button id="open-infos-<%= books[i].id %>" class="open-infos-btn btn">Fiche</button>
				   </div>
				</div>
				
			<% } %>
			<div id="dots"></div>
			<button id="previous" type="button" class="btn">&lt;</button>
			<button id="next" type="button" class="btn">&gt;</button>
		</div>
	</div>
	<!-- FOOTER -->
	<%- include src/components/footer.ejs -%>
	<button id="toTop" type="button" class="btn card-2"><i class="material-icons">&#xE5D8;</i></button>
</div>
