<div id="books-container" class="w3-content" style="max-width: 1136px">
	<div id="top-page-header" class="w3-light-gray">catalogue</div>
	<div id="booksList" class="w3-padding-64 w3-animate-opacity">
		<div class='w3-row' style="text-align: center">
			<% for(var i=0; i<books.length; i++) {%>
				<% if(books[i].visible) { %>
				<div class="w3-col">
					<div id="paper">
					<div id="<%= books[i].id %>" class="book w3-card-4 w3-display-container" style="<%=books[i].styles.cover %>">
						<p class="author" style="<%=books[i].styles.author %>"><%= books[i].authorDisplay %></p>
						<p class="title" style="<%=books[i].styles.title %>">
							<%- books[i].title %>
						</p>
						<% if(books[i].subtitle1) {%>
						<p class="subtitle1" style="<%=books[i].styles.subtitle1 %>">
							<%- books[i].subtitle1 %></a>
						</p>
						<% } %>
						<% if(books[i].subtitle2) {%>
						<p class="subtitle1" style="<%=books[i].styles.subtitle2 %>">
							<%- books[i].subtitle2 %></a>
						</p>
						<% } %>
						<p class="logo w3-display-bottommiddle" style="<%=books[i].styles.logo %>">liber</p>
				   </div>
				   </div>
				   <div id="book-btn">
						<button id="info-btn" class="align-right w3-button">+ d'infos</button>
				   </div>
				</div>
			   <% } %>
			<% } %>
		</div>
	</div>
</div>
