<div id="adminAuthor" class="content">
<!--
	MODAL
-->
	<div id="modal" class="w3-modal w3-card-4">
		<div class="w3-modal-content w3-animate-top">
			<header class="w3-container w3-black"> 
				<span id="close-modal-btn" class="w3-button w3-display-topright">&times;</span>
				<h4>Supprimer un auteur</h4>
			</header>
			<div  class="w3-container">
				<p>Voulez-vous vraiment supprimer cet auteur ?</p>
				<p><%= author.name %></p>
				<p class="w3-right"><button type="button" id="delete-btn" class="w3-button w3-border w3-text-gray w3-hover-none w3-hover-text-black">Supprimer</button></p>
			</div>
			
		</div>
	</div>

<!--
	MAIN
-->
	
	<h4 class="w3-container align-left w3-padding-16">Auteur</h4>
	<p class="align-right w3-padding-16"><a href="/#/admin/authors/" class="w3-text-gray w3-hover-none w3-hover-text-black">Retour</a></p>
	<div id="author" class="w3-container">
		<span class="error"><%= error %></span>
		<span class="error" id="modal-error" data-utils-bind="{{ error }}"></span>
		<div class="w3-border-bottom">
			<p><b>Nom : </b><span><%- author.name %></span></p>
			<p><b>Nom alphabétique : </b><span><%= author.nameAlpha %></p>
			<p><b>Date de naissance : </b><span><%= author.birth %></p>
			<p><b>Date de décès : </b><span><%= author.death %></p>
			<p><b>Description : </b></p>
			<div><%= author.description %></div>
			<p><b>Visible : </b><span><% if(author.visible===true) {%>oui<%} else {%>non<%}%></span></p>
			<p><b>Créé le : </b><span></span><%= author.created_at %></p>
			<p><b>Mis à jour le : </b><span><%= author.updated_at %></p>
			<% if(author.books.length > 0) { %>
			<p>
				<span><b>Œuvres :</b></span>
			</p>
			<ul id="books-list" class='w3-ul'>
				<% for(var i=0; i<author.books.length; i++) { %>
				<li>
					<a href='/#/admin/books/<%= author.books[i].id %>' class="w3-text-gray w3-hover-none w3-hover-text-black">
						<%- author.books[i].title %> (<%= author.books[i].year %>)
					</a>
				</li>
				<% } %>
			</ul>
			<% } %>
			<% if(author.contribs.length > 0) { %>
			<p>
				<span><b>Contributions :</b></span>
			</p>
			<ul id="books-list" class='w3-ul w3-margin-bottom'>
				<% for(var i=0; i<author.contribs.length; i++) {%>
				<li>
					<a href='/#/admin/books/<%= author.contribs[i].book.id %>' class="w3-text-gray w3-hover-none w3-hover-text-black">
						<%- author.contribs[i].book.title %> (<%= author.contribs[i].role %>)
					</a>
				</li>
				<% } %>
			</ul>
			<% } %>
		</div>
		<p>
			<a href="#/admin/authors/<%= author.id %>/edit" class="w3-button w3-border w3-text-gray w3-hover-none w3-hover-text-black w3-left">Modifier</a>
			<button type="button" id="open-modal-btn" class="w3-button w3-border w3-text-gray w3-hover-none w3-hover-text-black w3-right">Supprimer</button>
		</p>
	</div>
</div>
