<div id="adminAuthor" class="content">
<!--
	MODAL
-->
	<div id="modal" class="modal">
		<div class="modal-content animate-top container" style="max-width: 500px">
			<header class="border-bottom"> 
				<button id="close-modal-btn" class="btn topright" style="font-size: 1.5em">&times;</button>
				<h4>Supprimer un auteur</h4>
			</header>
			<div>
				<p>Voulez-vous vraiment supprimer cet auteur ?</p>
				<p><%= author.name %></p>
				<p class="align-right"><button type="button" id="delete-btn" class="button">Supprimer</button></p>
			</div>
			
		</div>
	</div>

<!--
	MAIN
-->
	
	<p class="align-left padding-16"><b>Auteur</b></p>
	<p class="align-right padding-16"><a href="/#/admin/authors/">Retour</a></p>
	<div id="author" style="clear: both">
		<span class="error"><%= error %></span>
		<span class="error" id="modal-error" data-utils-bind="{{ error }}"></span>
		<div class="border-bottom">
			<p><b>Nom : </b><span><%- author.name %></span></p>
			<p><b>Nom alphabétique : </b><span><%= author.nameAlpha %></p>
			<p><b>Date de naissance : </b><span><%= author.birth %></p>
			<p><b>Date de décès : </b><span><%= author.death %></p>
			<p><b>Description : </b></p>
			<div><%= author.description %></div>
			<p><b>Visible : </b><span><% if(author.visible===true) {%>oui<%} else {%>non<%}%></span></p>
			<p><b>Créé le : </b><span></span><%= author.created_at %></p>
			<p><b>Mis à jour le : </b><span><%= author.updated_at %></p>
			<% if(author.books.length > 0) { %>
			<p>
				<span><b>Œuvres :</b></span>
			</p>
			<ul id="books-list" class='ul'>
				<% for(var i=0; i<author.books.length; i++) { %>
				<li>
					<a href='/#/admin/books/<%= author.books[i].id %>'>
						<%- author.books[i].title %> (<%= author.books[i].year %>)
					</a>
				</li>
				<% } %>
			</ul>
			<% } %>
			<% if(author.contribs.length > 0) { %>
			<p>
				<span><b>Contributions :</b></span>
			</p>
			<ul id="books-list" class='ul margin-bottom' style="padding: 0px">
				<% for(var i=0; i<author.contribs.length; i++) {%>
				<li>
					<a href='/#/admin/books/<%= author.contribs[i].book.id %>' class="w3-text-gray w3-hover-none w3-hover-text-black">
						<%- author.contribs[i].book.title %> (<%= author.contribs[i].role %>)
					</a>
				</li>
				<% } %>
			</ul>
			<% } %>
		</div>
		<p>
			<a href="#/admin/authors/<%= author.id %>/edit">Modifier</a>
			<button type="button" id="open-modal-btn" class="button align-right">Supprimer</button>
		</p>
	</div>
</div>
