<div id="authors-container" class="w3-content" style="max-width: 1136px">
	<div id="authorsList" class="w3-padding-48 w3-animate-opacity">
		<% for(var i=0; i<authors.length; i++) {%>
			<% if(authors[i].visible) { %>
			<div class="author">
				<p class="author-name w3-border-bottom"><%- authors[i].name %></p>
				<div id="booksList" class="w3-padding-16">
					<div class='w3-row' style="text-align: center">
						<% var works = authors[i].books.concat(authors[i].contribs)	%>
						<% for(var j=0; j<works.length; j++) {%>
						<% if(works[j].role) {
								var book = works[j].book;
							} else {
								var book = works[j];
							}
						%>
							<% if(book.visible) { %>
							<div class="w3-col">
								<div id="paper">
								<div id="<%= book.id %>" class="book w3-card-4 w3-display-container" style="<%= book.styles.cover %>">
									<p class="book-author" style="<%=book.styles.author %>"><%= book.authorDisplay %></p>
									<p class="title" style="<%= book.styles.title %>">
										<%- book.title %>
									</p>
									<% if(book.subtitle1) {%>
									<p class="subtitle1" style="<%=book.styles.subtitle1 %>">
										<%- book.subtitle1 %></a>
									</p>
									<% } %>
									<% if(book.subtitle2) {%>
									<p class="subtitle1" style="<%=book.styles.subtitle2 %>">
										<%- book.subtitle2 %></a>
									</p>
									<% } %>
									<p class="publisher w3-display-bottommiddle" >liber</p>
							   </div>
							   </div>
							   <div id="book-btns" class="w3-light-gray">
								<a href="/#<%= book.path %>/read" id="read-btn" class="align-left w3-button">lire</a>
								<button id="info-btn" class="align-right w3-button">infos</button>
							   </div>
							</div>
						   <% } %>
						<% } %>
					</div>
				</div>
			</div>
			<% } %>
		<% } %>
	</div>
</div>
