<div id="infos-<%= book.id %>" class="modal">
	<div class="modal-content w3-card animate-top">
		<div id="infos-header">
			<button id="close-infos-<%= book.id %>" type="button" class="btn close-infos-btn">&times;</button>
			<p><%- book.authorDisplay %></p>
			<p class="text-uppercase"><%- book.title %></p>
		</div>
		<div>
			  <p><b>Titre : </b><%- book.title %></p>
			  <% if(book.subtitle1) {%>
				<p><b>Sous-titre : </b><%- book.subtitle1 %></p>
			  <%}%>
			  <% if(book.subtitle2) {%>
				<p><b>Sous-sous-titre : </b><%- book.subtitle2 %></p>
			  <%}%>
			  <p><b>Année de parution : </b><%- book.year %></p>
			  <% if(book.authors.length > 1) {%>
					<p>
						<span><b>Auteurs :</b></span>
						<br>
						<ul>
						<% for(var j=0; j<book.authors.length; j++) {%>
							<li>
								<%- book.authors[j].name %> (<%- book.authors[j].birth %>&nbsp;&ndash; <%- book.authors[j].death %>)
							</li>
						<%}%>
						</ul>
					</p>
			  <%} else if(book.authors.length === 1) {%>
					<p><b>Auteur : </b><%- book.authors[0].name %> (<%- book.authors[0].birth %>&nbsp;&ndash; <%- book.authors[0].death %>)</p>
			  <%}%>
			  <% if(book.contribs.length > 1) {%>
					<p>
						<span><b>Contributions :</b></span>
						<br>
						<ul>
						<% for(var j=0; j<book.contribs.length; j++) {%>
							<li>
								<span class="contrib-role"><%- book.contribs[j].role %> : </span>
								<%- book.contribs[j].name %> (<%- book.contribs[j].birth %>&nbsp;&ndash; <%- book.contribs[j].death %>)
							</li>
						<%}%>
						</ul>
					</p>
			  <%} else if(book.contribs.length === 1) {%>
					<p>
						<span><b>Contribution : </b></span>
						<br>
						<ul>
							<li>
								<span class="contrib-role"><%- book.contribs[0].role %> : </span>
								<%- book.contribs[0].name %> (<%- book.contribs[0].birth %>&nbsp;&ndash; <%- book.contribs[0].death %>)
							</li>
						</ul>
					</p>
			  <%}%>
			  <p class="book-source"><b>Source : </b>
				  <ul>
					  <li>&Eacute;diteur : <%- book.source.publisher %></li>
					  <li>Année de parution : <%- book.source.year %></li>
				  </ul>
			  </p>
			  <% if(book.description) {%>
			  <div><%- book.description %></div>
			  <%}%>
		</div>
	</div>
</div>
